<!doctype html>
<html>
<head>
  <title>County Stat</title>
  <meta charset="utf-8">
  <script src="http://d3js.org/queue.v1.min.js" charset="utf-8"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <link rel="stylesheet" href="/styles.css" charset="utf-8">
</head>
<body>
  <header class="header">
    <button class="hamburger js-hamburger"></button>
    <h1 class="header-title">County Stat</h1>
    <h2 class="header-subtitle"><%= @column_info['full_name'] %></h2>
  </header>
  <aside class="sidebar js-sidebar">
    <ol class="demographics">
      <% @demographics.each do |demographic| %>
      <li>
        <a class="demographic-link" href="/<%= demographic['table_name'] %>/<%= demographic['column_name'] %>">
          <%= demographic['table_name'] %> /
          <%= demographic['column_name'] %>
          <div class="details"><%= demographic['desc'][0..40] %></div>
        </a>
      </li>
      <% end %>
    </ol>
  </aside>
  <div class="container js-container" data-table="<%= params[:table] %>" data-column="<%= params[:column] %>">
    <div class="js-canvas canvas" data-table="<%= params[:table] %>" data-column="<%= params[:column] %>"></div>
    <aside class="stats">
      <div class="js-properties properties section"></div>
      <div class="js-scatter scatter section"></div>
      <div class="js-histogram histogram section"></div>
    </aside>
  </div>
  <script src="/map.js" charset="utf-8"></script>
</body>
</html>
